<html>
    <head>
        <title>Orange</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script scr="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Raleway&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans|Open+Sans+Condensed:300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Handlee&display=swap" rel="stylesheet">

    </head>
    <body>
        <div class="header">
            <div class='headText'><small style="background-color: rgb(255,100,0);color: white;padding-left: 15px;padding-right: 15px;border-radius: 10%;margin-right: 2px;padding-top: 8px;">O</small>range</div>
            <div class='headFooter'>The only <span style="color:rgb(255,100,0)">Forum</span> you'll need.</div>
            <div class='anim'>.</div><div class='anim2'>.</div>
        </div>
        <div class='navbar'>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/compose">Compose</a></li>
            <li class='loginClass'><a href="/signup">Sign Up</a></li>
            <li class="loginClass"><a href="/login"> Login</a></li>
          </ul>
        </div><br><br>