<%- include('partials/header'); -%>

        <div class="body">
            <div class="container">
                <form action="/action_page.php">
                  <div class="row">
                    <div class="vl">
                      <span class="vl-innertext" style="font-family:'Abel';"></span>
                    </div>
              
                    <div class="col">
                      <a href="#" class="fb btn">
                        <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                       </a>
                      <a href="#" class="twitter btn">
                        <i class="fa fa-twitter fa-fw"></i> Login with Twitter
                      </a>
                      <a href="#" class="google btn"><i class="fa fa-google fa-fw">
                        </i> Login with Google+
                      </a>
                    </div>
              
                    <div class="col">
              
                      <input type="text" name="username" placeholder="Username" required>
                      <input type="password" name="password" placeholder="Password" required>
                      <input type="submit" value="Login">
                    </div>
                    
                  </div>
                </form>
              </div>
              
        </div><br><br>


<%- include('partials/footer'); -%>
   